.navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  border-radius: 10px;
  background: #000;
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.logo {
  color: #ffd700;
  font-size: 24px;
  font-weight: 700;
}

.tag {
  background: #ff6f91;
  padding: 4px 10px;
  border-radius: 12px;
  color: white;
  font-size: 13px;
  margin-left: 5px;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 16px;
  transition: 0.2s;
}

.navbar-right a:hover {
  color: #ffd700;
}
