 @keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.animate-typing {
  width: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30, end) forwards, blink .75s step-end infinite;
}
