
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@keyframes fade {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}
.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.typing {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid yellow;
  animation: typing 3s steps(30) forwards, blink .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1s ease-out forwards;
}

.animate-fade {
  animation: fade 0.6s ease-in-out;
}
.oswald {
    font-family: 'Oswald', sans-serif;
  }

  
  .swipe-up-strong {
    display: inline-block;
    transition: all 0.35s ease;
  }
  
  .swipe-up-strong:hover {
    transform: translateY(-10px) scale(1.05);
    opacity: 0.8;
  }
  